**/Cargo.lock
**/target/release/*
**/target/debug/
**/target/.rustc_info.json
**/target/CACHEDIR.TAG
!**/target/release/apiserver
!**/target/release/vpnserver
!**/target/release/proxyserver
**/data
.vscode
docker-compose/haproxy/server.pem
